<div class="bg-info">
    <h1>Welcome to Central Library</h1>
</div>
<div class="d-flex justify-content-center">
    <fieldset class="border border-dark p-3 w-25">
        <legend>Login:</legend>
        <form #loginForm="ngForm" (ngSubmit)="loginUser()">
            <small class="text-danger ml-4">{{errorMsg}}</small>
            
            <div class="d-flex">
                <mat-icon class="mt-1 mr-1">person</mat-icon>
                <input type="text" class="form-control w-75" name="username" [(ngModel)]="user.username" placeholder="Username" required #username="ngModel"
                        class.is-invalid="username.invalid && username.touched">
            </div>
            <small class="text-danger ml-4" [class.d-none]="username.valid || username.untouched">*Username is required</small>
            <br>
            
            <div class="d-flex">
                <mat-icon class="mt-1 mr-1">vpn_key</mat-icon>
                <input type="password" class="form-control w-75" name="password" [(ngModel)]="user.password" placeholder="Password" required #password="ngModel"
                        class.is-invalid="password.invalid && password.touched">
            </div>   
            <small class="text-danger ml-4" [class.d-none]="password.valid || password.untouched">*Password is required</small>
            <br>  
        
            <button class="btn-primary ml-5" type="submit" [disabled]="loginForm.form.invalid">Login</button>
            <small class="float-right">New User? <a routerLink="/register">Register Here!</a></small>
        </form>
    </fieldset>
</div>